@font-face {
    font-family: 'norsebold';
    src: url(./fonts/Norse-Bold.otf) format('woff2');
    font-weight: normal;
    font-style: normal;
}
:root{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    background-color: black;
}
*{
    width: fit-content
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    justify-items: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%
}
.sidebar{
    background-image: url(./images/halie-west-25xggax4bSA-unsplash.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 30%;
    position: relative;
}
.logo-container{
    background-color: black;
    opacity: 0.7;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    color: white;
    position: absolute;
    top: 20%;
    width: 100%;
}
img{
    height: 100%;
}
.logo-container > span{
    font-family: 'norsebold';
    font-size: 6rem;
}
.form-container{
    background-color: white;
    height: 100%;
    width: 50%;
}
.upper-container > p{
    font-weight: bold;
    white-space: normal;
}
.upper-container{
    padding: 5%;
    width: 100%;
}
form{
    background-color: white;
    width: 96%;
    box-shadow: 0px 0px 3px 0px black;
    border: none;
    padding: 2%;
}
fieldset{
    display: flex;
    justify-content: space space-between;
    gap: 2%;
    border: none;
    font-size: 0.8rem;
    padding: 0;
    margin: 0;
    width: 100%;
}
fieldset > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2%;
}
input{
    border: solid black 1px;
    border-color: black;
    border-radius: 3px;
    width: 80%;
    height: 70%;
}

button{
    width: fit-content;
    margin-inline: 5%;
    margin-top: 2%;
    background-color: green;
    color: white;
    border: none;
    border-radius: 3px;
    margin-top: 3%;
    height: 5%;
}
.login{
    display: flex;
    width: 100%;
    font-size: 0.8rem;
    justify-content: flex-start;
    align-items: center;
    padding-inline: 5%;
}
.login > button{
    width: fit-content;
    border: none;
    background-color: white;
    margin-top: 0;
    color: black;
    margin-left: 0;
}
input:focus{
    border: solid blue 3px;
}
input:invalid{
    border-color: red;
}
cite{
    color: white;
    position: absolute;
    bottom: 5%;
    font-size: 0.7rem;
    font-style: normal;
    justify-self: center;
}
a{
    color: white;
}